<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.biezhi.mybatis.mapper.VillageMapper">

    <resultMap id="villageResult" type="village">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="district" column="district"/>
    </resultMap>

    <select id="selectVillage" resultType="village" parameterType="int" resultMap="villageResult">
        SELECT id, name, district from village WHERE id = #{id}
    </select>

    <insert id="insertVillage" parameterType="village" keyProperty="id" useGeneratedKeys="true">
        INSERT into village(name,district) VALUES(#{name}, #{district})
    </insert>

    <update id="updateVillage" parameterType="village">
        UPDATE village SET name=#{name}, district =#{district} WHERE id =#{id}
    </update>

    <delete id="deleteVillage" parameterType="int">
        DELETE FROM village WHERE id =#{id}
    </delete>

</mapper>