<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Console output -->

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{MM-dd HH:mm:ss} %m  (%F:%L) \n"/>
        </layout>
    </appender>

    <!-- set the priority to debug for these two values to see nice debugging output -->
    <category name="java.sql">
        <priority value="error" />
    </category>
    <category name="com.ibatis">
        <priority value="error" />
    </category>

    <root>
        <priority value ="error" />
        <appender-ref ref="STDOUT" />
    </root>

</log4j:configuration>